.encabezado {
    background-color: $color-header;
    display: flex;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-bar {
    list-style: none;
    gap: 2rem;
    display: flex;
}



nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: 'Playfair Display', serif;

}

.logo-pagina {

    border-color: rgb(0, 0, 0);
    border-style: solid;
    width: 10rem;
}

.ingresar{
    height: 20%;
    border-style: none;
}