@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import "mixins";
@import "maps";
@import "variables";
@import "header";
@import "footer";
@import "generales";
@import "extends";
@import "cardsInicio";
@import "mainsPaginas";

@media screen and (max-width: 500px) {
    .encabezado {
        background-color: rgba(155, 155, 155, 0.74);
        display: flex;
        flex-wrap: wrap;

    }

    .nav-bar {
        list-style: none;

        display: flex;
        flex-direction: column;
    }

    .contenido-noticias {
        display: flex;
        flex-direction: column;

    }

    .pie-pagina{
        display: flex;
        position: static;
        width: 100%;        
        bottom: 0%;
    }

    .main-foro{
        display: flex;
        flex-direction: column;
        
    }

    
    


}




















